<html>
	<head>
		<title>3Riders</title>
		<%- include('styles.ejs') %>
	</head>
	<body class="drac-bg-black drac-text-white center">
		<%- include('topbar.ejs') %>
		<div class="container" style="padding-top: 100px">
			
			<br />
			<br />
			<div class="row">
				<div class="col-sm-12">
					<h1 class="drac-heading drac-heading-xl drac-text-white">
						So who you think improved a lot?
					</h1>
					<br />
					<form action="/drop" method="post">
						<div class="form-group">
							<label
								for="sid"
								class="drac-text-white drac-heading"
								style="float: left"
								>Student ID:
							</label>
							<input
								type="text"
								class="drac-input drac-input-white drac-text-white"
								id="sid"
								name="sid"
								placeholder=""
							/>
						</div>
						<br />

						<div class="form-group">
							<label
								for="coursecode"
								class="drac-text-white drac-heading"
								style="float: left"
								>Course Code:
							</label>
							<input
								type="text"
								class="drac-input drac-input-white drac-text-white"
								id="coursecode"
								name="coursecode"
								placeholder=""
							/>
						</div>
						<br />

						<button
							type="submit"
							value="dropone"
							class="drac-btn drac-text-black"
							style="float: right; color: green"
						>
							Drop
						</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
