<html>
	<head>
		<title>Free Rider Jail</title>
		<link
			rel="stylesheet"
			href="node_modules/dracula-ui/styles/dracula-ui.css"
		/>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body class="drac-bg-black center">
		<div class="drac-box drac-card drac-bg-animated drac-p-sm">
			<h1 class="drac-heading drac-heading-xl drac-text-white">
				Oh my god, they killed <%= username %>!
			</h1>
			<br />
			<button
				class="drac-btn drac-bg-black drac-m-sm drac-text-white"
				onclick="location.assign('/logout')"
			>
				Logout
			</button>
		</div>
	</body>
</html>
