<html>
	<head>
		<title>3Riders</title>
		<%- include('styles.ejs') %>
	</head>
	<body class="drac-bg-black drac-text-white">
		<div class="container">
			<div class="row">
				<h5
					class="drac-heading drac-heading-2xl drac-text-white"
					style="padding-top: 30px"
				>
					Who's the Free Rider?
				</h5>
			</div>
			<br />
			<br />
			<div class="row">
				<div
					class="col-md-8 drac-box drac-card-subtle drac-border-cyan drac-bg-cyan"
				>
					<br />
					<h6 class="drac-heading drac-heading-xl drac-text-white">
						Last 5 reports:
					</h6>
					<br />
					<table
						class="drac-table drac-table-cyan drac-text-white reports"
					>
						<tr>
							<th class="drac-text drac-text-white">
								<b>Name:</b>
							</th>
							<th class="drac-text drac-text-white">
								<b>Course Code:</b>
							</th>
							<th class="drac-text drac-text-white complains">
								<b>Complains:</b>
							</th>
						</tr>
						<!-- TODO: placeholder, auto gen from db -->
						<!--
						<tr>
							<td class="drac-text drac-text-white">
								Y*** W*** Kwok
							</td>
							<td class="drac-text drac-text-white">3</td>
							<td class="drac-text drac-text-white complains">
								Do not attend meetings
							</td>
						</tr>
						<tr>
							<td>S*** I*** Wan</td>
							<td>1</td>
							<td class="drac-text drac-text-white complains">
								Bad Attitude
							</td>
						</tr>
						<tr>
							<td>B*** G*** Chan</td>
							<td>4</td>
							<td class="drac-text drac-text-white complains">
								GPA = 4 but crazy in the projects, her output is
								trashy
							</td>
						</tr>
						<tr>
							<td>T*** T*** Wan</td>
							<td>1</td>
							<td class="drac-text drac-text-white complains">
								Lazy in Writing
							</td>
						</tr>
						<tr>
							<td>J*** L*** Fan</td>
							<td>3</td>
							<td class="drac-text drac-text-white complains">
								Well-known Trash
							</td>
						</tr>
					-->
						<tbody id="display"></tbody>
					</table>
				</div>
				<div
					class="col-md-4 drac-box drac-card-subtle drac-border-pink drac-bg-pink"
					variant="subtle"
					style="padding-left: 45px; padding-right: 45px"
				>
					<br />
					<br />
					<h1 class="drac-heading drac-heading-xl drac-text-white">
						Login to report free rider(s)
					</h1>
					<br />
					<form action="/login" method="post">
						<div class="form-group">
							<label
								for="username"
								class="drac-text-white drac-heading"
								>Username:
							</label>
							<input
								type="text"
								class="drac-input drac-input-white drac-text-white"
								id="username"
								name="username"
								placeholder="Enter username"
							/>
						</div>
						<br />
						<div class="form-group">
							<label
								for="password"
								class="drac-text-white drac-heading"
								>Password:
							</label>
							<input
								type="password"
								class="drac-input drac-input-white drac-text-white"
								id="password"
								name="password"
								placeholder="Password"
							/>
						</div>
						<br />
						<div style="display: flex; justify-content: flex-end">
						<!--
							<a
								class="drac-btn drac-bg-black-secondary drac-text-white"
								href="/register"
							>
								Register
						</a>
							&nbsp;
							&nbsp;
						-->
							<button
								type="submit"
								value="Login"
								class="drac-btn drac-bg-animated drac-text-black"
							>
								Login
							</button>
						</div>
					</form>
					<div>
						<p class="drac-text-white">Don't have an account? <a href="/register" class="drac-text-white"><b>Register!</b></a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<p class="drac-text-white quote">
					"Free Riders aren't terrible. The only sad thing is you
					don't know them."
				</p>
			</div>
		</div>
		<% if (error != "") { %>
		<script>
			alert("<%= error %>");
		</script>
		<% } %>
	</body>
	<script type="text/javascript">
		var display = document.getElementById("display");
		var content = "";
		var leaderString = '<%-leader%>';
		var leaderList = JSON.parse(leaderString);
		console.log(leaderList);
		for(let i in leaderList){
			content += "<tr><td>" + leaderList[i].name + "</td><td>";
			for (var x = leaderList[i].reports.length - 1; x <= 0; x++) {
				content +=
				    leaderList[i].reports[x].
				        courseCode + " ";
			}
			content += "</td><td>";
			for (let x in leaderList[i].reports.length){
				content +=
					leaderList[i].reports[x].
						remarks + ". ";
			}
			content += "</tr>";
		}
		display.innerHTML = content;
	</script>
</html>
