.center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.quote {
	font-size: 18px;
	text-align: center;
	font-family: serif;
	font-style: italic;
	padding-top: 30px;
}

.reports th {
	width: 25%;
	padding-top: 10px;
	padding-bottom: 20px;
}

.reports .complains {
	width: 50% !important;
}

.reports {
	margin-bottom: 10px;
}

.topbar {
	position: absolute;
	top: 0;
	width: 100vw;
}

.menuRight {
	float: right;
	padding-right: 15px;
}

.drac-file .form-control{
	color: var(--white);
	background-color: var(--blackSecondary) !important;
	border: 0px;
}

a.drac-btn:hover {
	color: var(--white);
}

.drac-file #img {
	max-height: 150px;
	max-width: 150px;
}