.center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.quote {
	font-size: 18px;
	text-align: center;
	font-family: serif;
	font-style: italic;
	padding-top: 30px;
}

.reports th {
	width: 25%;
	padding-top: 10px;
	padding-bottom: 20px;
}

.reports .complains {
	width: 50% !important;
}

.reports {
	margin-bottom: 10px;
}

.topbar {
	position: absolute;
	top: 0;
	width: 100vw;
}

.menuRight {
	float: right;
	padding-right: 15px;
}
